@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}

img,video{
    width: 100%;
    object-fit: cover;
}

nav{
    width: 100%;
    height: auto;
    background: #FFA970;
    padding: 20px 4%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo img{
    width: 120px;
    cursor: pointer;
}
.logo p{
    color: orangered;
    font-size: 14px;
}
.navlinks{
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    position: sticky !important;
    top: 0%;
    left: 0;
    z-index: 999;
}
.navlinks ul li{
    display: inline-block;
    margin-right: 10px;
}
.navlinks ul li a{
    font-size: 13px;
    color: #964E02;
    transition: all 500ms ease;
}
.navlinks ul li a:hover{
    color: orangered;
    transition: all 500ms ease;
}
.right_side input{
    padding: 10px 5px;
    border: none;
    outline: none;
    background: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.right_side button{
    padding: 10px 5px;
    border: none;
    outline: none;
    background: black;
    color: white;
    cursor: pointer;
}
#calendar-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 50px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    z-index: 1;
    font-size: 15px;
  }
.video_section{
    position: relative;
}
.video_section h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4.5rem;
    color: #964E02;
    text-align: center;
}
.container{
    position: absolute;
    top: 60%;
    padding: 20px 4%;
    width: 100%;
    margin: 0 auto;
}
.input_container{
    width: 100%;
    height: 80px;
    padding: 10px 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.input_field input, .input_field textarea{
    padding: 15px 5px;
    border: none;
    outline: none;
    background: #fcfcfc;
}
/* About section */
.about{
    width: 100%;
    height: auto;
    background: #FFA970;
    padding: 20px 0;

}
.aboutContainer{
    position: relative;
    width: 100%;
    padding: 20px 4%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.about h1{
    text-align: center;
    padding: 20px 0px;
    color: #fff;
}
.about p{
    text-align: center;
    padding: 20px;
    line-height: 1.5;
}
.aboutItem{
    width: 300px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background: #fff;
}
/* Apprenticeship section */
.apprentice{
    width: 100%;
    padding: 20px 4%;
}
.apprenContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
}
.apprentice h1{
    padding: 25px 0px;
    font-size: 25px;
    color: #964E02;
}
.apprenText p{
 line-height: 1.5;
 font-size: 12px;
 text-align: justify;

}
.apprenText ul{
    padding-top: 20px;
}
.apprenText ul li{
    list-style: circle;
    font-size: 15px;

}
/* vacancy section */
.vacancy{
    padding: 25px 4%;
    background: #FFA970;
}
.vacancy > h1{
    padding: 20px 0;
    text-align: center;
    font-size: 25px;
    color: #fff;
}
.vancancyContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    gap: 20px;
    margin: 20px 0px;
}
.jobItem{
    width: 300px;
    height: 250px;
    background: #fff;
    padding: 20px;
}
.jobItem p{
    padding: 10px 0px;
    color: red;
    font-size: 13px;
}
.jobItem button{
    text-align: right;
    background: #FFA970;
    color: #fff;
    font-size: 10px;
    padding: 8px;
    border: none;
}
p.job_detail{
    color: black;
    padding-bottom: 28px;

}
.vancancyContainer .input_container{
    margin-top: 30px;
}
 .input_field > select{
    padding: 15px 5px;
    border: none;
    outline: none;
    background: #e4e3e3;
}
.training{
    padding: 20px;
}
.training h1{
    text-align: center;
    padding: 20px 0px;
    color: #964E02;
    font-size: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: normal;
    color: #333;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
  }
  
  thead {
    background-color: #964E02;
    font-weight: bold;
    color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #964E02;
    color: #fff;
  }
  
  tbody td {
    vertical-align: middle;
  }
  
  @media screen and (max-width: 600px) {
    th, td {
      padding: 8px;
    }
  }
  footer{
    background: #FFA970;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 25px 4%;
  }
  footer p{
    padding: 25px 4%;
  }

  
  
  
  